.footer-main {
    background-color: #332e29;
    padding: 6em 0;
    .copyright {
        color: $background;
        text-align: center;
        font-size: .85rem;
        letter-spacing: .1rem;
        font-weight: 400;
    }
}

.footer-icon {
    margin: 2em 3em;
    text-align: center;
    i {
        padding: 0 .3rem;
        font-size: 1.2rem;
        color: $background;
    }
}