.join-container {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background-color: $accent;
}

.join-img-right {
    display: block;
    width: 100%;
    object-fit: cover;
    min-height: 40em;
}

.join-content {
    padding: 3em 1em 0 1em;
    .join-title {
        @include title ($fs: 2.2em, $lh: 1em);
    }
    .join-subtitle {
        @include title ($fs: 1.2em, $color: $accent-subtitle, $lh: 1em);
    }
    .join-desc {
        font-family: $ff-o;
        font-size: 1em;
        color: $black;
        line-height: 1.5em;
        font-weight: $ff-400;
    }
    .join-button {
        display: block;
        text-align: center;
        color: $accent-subtitle;
        width: 30%;
        margin: 5em 0.5em;
        padding: .8em;
        letter-spacing: .1em;
        border: .005em solid rgba($color: $accent-subtitle, $alpha: .5);
        font-family: $ff-o;
        font-weight: 700;
        font-size: .9em;
        text-decoration: none;
    }
}

@supports (display: grid) {
    @include middle {
        .join-container {
            display: grid;
            grid-template-columns: minmax(4em, 30em) minmax(auto, auto) minmax(4em, 10em);
        }
        .join-img-left,
        .join-img-right {
            object-fit: cover;
            min-height: 100%;
            min-width: 100%;
        }
    }
}